<div class="keypad">

  <div class="row">
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">1</div>
    </div>
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">2</div>
    </div>
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">3</div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">4</div>
    </div>
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">5</div>
    </div>
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">6</div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">7</div>
    </div>
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">8</div>
    </div>
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">9</div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="btn btn-warning keypad-button bksp-button">Del</div>
    </div>
    <div class="col-4">
      <div class="btn btn-info keypad-button number-button">0</div>
    </div>
    <div class="col-4">
      <div class="btn btn-success keypad-button enter-button">Enter</div>
    </div>
  </div>

</div>