<div class="row">
  <div class="col-3"></div>
  <div class="col-12 col-sm-6 col-sm-offset-3" id="employee-action-screen">

    <p class="lead text-center"><strong class="employee-name"><%= @employee.full_name %></strong></p>
    <%= action_buttons(@employee.current_status) %>

    <hr />

    <div class="form-group">
      <%= link_to '<i class="fa fa-fw fa-clipboard"></i> View Time Card'.html_safe, timeclock_records_path(user_view: @employee.employee_number), class: 'btn btn-block btn-lg btn-default float-right' %>
    </div>

    <div class="form-group">
      <button class="btn btn-block btn-lg btn-default change-pin-button">
        <i class="fa fa-fw fa-th"></i> Change Pin
      </button>
    </div>

    <div class="form-group">
      <button class="btn btn-block btn-lg btn-default logout-button">
        <i class="fa fa-fw fa-ban"></i> Log Out
      </button>
    </div>

  </div>
</div>