<div class="col-12 col-sm-12" id="right-now-screen">

  <div class="float-right">
    <button class="btn btn-sm btn-danger close-right-now-button">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div class="float-left">
    <p class="lead">Clocked in right now:</p>
  </div>

  <div class="clearfix"><!----></div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="card bg-light platers-box">
        <div class="card-header"><h3 class="card-title">Plating</h3></div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="card bg-light supervisors-box">
        <div class="card-header"><h3 class="card-title">Supervisors</h3></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="card bg-light lab-box">
        <div class="card-header"><h3 class="card-title">Lab</h3></div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="card bg-light shipping-box">
        <div class="card-header"><h3 class="card-title">Shipping/QC</h3></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="card bg-light maintenance-box">
        <div class="card-header"><h3 class="card-title">Maintenance</h3></div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="card bg-light office-box">
        <div class="card-header"><h3 class="card-title">Office</h3></div>
      </div>
    </div>
  </div>
</div>