<div class="keypad">

  <div class="row">
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">1</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">2</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">3</button>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">4</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">5</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">6</button>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">7</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">8</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">9</button>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <button class="btn btn-warning keypad-button bksp-button">Del</button>
    </div>
    <div class="col-4">
      <button class="btn btn-info keypad-button number-button">0</button>
    </div>
    <div class="col-4">
      <button class="btn btn-success keypad-button enter-button">Enter</button>
    </div>
  </div>

</div>