<div class="nested-fields<%= ' danger' unless f.object.valid? %>">

  <div class="form-group row">
    <div class="col-9">
      <%= show_attachment f.object %>
    </div>
    <div class="col-3">
      <%= link_to_remove_association '<i class="fa fa-close"></i>'.html_safe, f, class: 'btn btn-sm btn-mobile btn-danger' %>
    </div>
  </div>

</div>