<button type="button" class="close" data-dismiss="modal">&times;</button>
<h3>Unable to find Shop Order</h3>
<p>Would you like to enter the data manually?</p>
<div class="row">
  <div class="col-6">
    <%= button_tag 'No', type: 'button', class: 'btn btn-secondary', data: { dismiss: 'modal' } %>
  </div>
  <div class="col-6">
    <%= button_tag 'Yes', type: 'button', class: 'btn btn-success manual-entry-yes' %>
  </div>
</div>
