<tr class="nested-fields">
  <td>
    <%= f.text_field :name %>
  </td>
  <td>
    <%= link_to_remove_association '<i class="fa fa-close"></i>'.html_safe, f, class: 'btn btn-sm btn-mobile btn-danger' %>
  </td>
</tr>