<div class="salt_spray_tests">
  <% provide(:title, 'Archived Salt Spray Tests') %>
  <div class="row mx-1">

    <div class="col-12 card bg-light mb-3">
        <div class="row">

          <strong class="col-6">Salt Spray Tests - Archived</strong>

          <% if @access_level.access_level == 3 -%>
            <strong class="col-6 text-danger text-uppercase text-right">
              Admin Mode
            </strong>
          <% end %>

        </div>
    </div>

    <div class="col-12">
      <div class="row d-none d-md-flex">
        <div class="col-12 text-right">
          <%= filter_btn %>
          <%= link_to 'View Active Tests', salt_spray_tests_path, class: "btn btn-sm btn-primary"%>
        </div>
      </div>

      <div class="archived-results">
        <%= render 'table' %>
      </div>

      <!-- Modal -->
      <div id="modal-window" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Shop Order Information</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div id="part_info"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
