<div class="row mx-1">
  <div class="col-12 card bg-light mb-3 d-none d-md-block">
    <strong>Salt Spray Tests &ndash; Edit Test</strong>
  </div>
  <div class="col-12 d-none d-md-block"><%= render 'salt_spray_tests/edit_form' %></div>
  <div class="col-12 d-md-none"><%#= render 'salt_spray_tests/partials/mobile_edit_form' %></div>
</div>
