<div class="row">
  <div class="col-xs-12">
    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for type %> alert-dismissible flash-message">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= message.html_safe %>
      </div>
    <% end %>
  </div>
</div>