<% provide(:title, 'Edit Permission') %>
<div class="row mx-1">

  <div class="col-12 card bg-light mb-3">

    <div class="row">
      <strong class="col-6">Permission Management &ndash; Edit Permission</strong>
      <strong class="col-6 text-danger text-uppercase text-right">Admin Mode</strong>
    </div>

  </div>

  <div class="col-12 col-md-8 offset-md-2"><%= render 'form' %></div>

</div>