<tr class="nested-fields<%= ' danger' unless f.object.valid? %>">
  <td>
    <%= show_attachment f.object %>
  </td>
  <td class="text-center">
    <%= link_to_remove_association 'Remove', f, class: 'btn btn-sm btn-danger' %>
  </td>
</tr>