<% provide(:title, 'Create New Shift Note') %>
<div class="row mx-1">

  <div class="col-12 card bg-light mb-3">

    <strong>Shift Notes &ndash; Add Shift Note</strong>

  </div>

  <div class="col-12"><%= render 'form' %></div>

</div>