@import "bootstrap";

// Global variables
$default-spacing: 15px;

// Global styles
html, body {
  height: 100%
}

body {
  padding-top: 65px;
}

.navbar {
  border-bottom: 1px solid #e7e7e7;
}

.list-group-item {
  font-size: 14px;
}

.display-none {
  display: none;
}

.btn {
  margin-bottom: 1rem;
}

.btn-mobile {
  margin-bottom: 0;
}

.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
  color: #333;
  background-color: #fff;
}

// Fixes Bootstrap issue with collapse display
.collapse {
  display: none;
  &.show {
    display: block;
  }
  &.row.show {
    display: flex;
  }
}

.bg-success {
  background-color: #dff0d8 !important;
}

.border-success {
  border-color: #d6e9c6 !important;
}

.filter-form {
  margin-bottom: $default-spacing;
  padding: $default-spacing;
  border: 1px solid rgb(221, 221, 221);
  background-color: #fcf8e3;
}

.table-header {
  font-weight: bold;
  font-size: 15px;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

.ipad-refresh {
  margin-bottom: 0;
}