// Place all the styles related to the SaltSprayTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vcms-salt_spray_tests {

  // Mobile only
  @media (max-width:600px) {

    .shop-order {
      font-size: 24px;
      i {
        font-size: 22px;
        padding-right: 5px;
      }
    }

    .load-number {
      font-size: 20px;
    }

    .process {
      font-size: 20px;
    }

    .checked-test {
      text-decoration: line-through;
    }

  }

  // iPad only
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    thead {
      font-size: 14px;
    }
    tbody {
      font-size: 12px;
    }
    .ipad-padding {
      padding-left: 3px;
    }
    .btn-sm {
      font-size: 13px;
    }
    .filter-form *{
      font-size: 14px;
    }
  }

  #part_info td{
    max-width: 181px;
  }

  .prevent-text-overflow {
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    width: 195px;
  }

  .mobile-details-sm {
    font-size: 12px;
  }

  .rust-spot-info {
    border: 1px solid lightgray;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
  }

  .spec-failed {
    color: red;
  }

  .spec-passed {
    color: green;
  }

  .test-complete-white, .test-complete-red, .test-complete-none {
    visibility: hidden;
    display: none;
  }

  #manual_entry_modal {
    h3, p {
      margin-bottom: 45px;
    }
    .modal-dialog {
      width: 450px;
    }
  }

  .bg-warning-table {
    background-color: #fffccb;
  }

  .comment-block {
    padding-top: 2px;
    padding-bottom: 3px;
  }

  .commenter-initials {
    background-color: darkcyan;
    color: white;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 2px #888888;
    border-radius: 100%;
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
  }

  // Table row colors
  // .row-color-TZ, .row-color-STZ {
  //   background-color: #fff;
  // }

  // .row-color-ZN {
  //   background-color: #edeff2;
  // }

  // .row-color-LN, .row-color-HN, .row-color-SLN {
  //   background-color: #e9e1f7;
  // }

  // .row-color-NI {
  //   background-color: #e8ffeb;
  // }

  // .row-color-ZF {
  //   background-color: #ddedff;
  // }

  // .row-color-SN {
  //   background-color: #fce6cc;
  // }

}