// Place all the styles related to the TimeclockRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vcms-timeclock_records {
  .lead {
    margin-bottom: 1rem;
  }
  .card {
    margin-bottom: 20px;
    .card-header {
      padding-bottom: 0;
    }
  }

  // Styling for tablet or smaller
  @media (max-width:1025px) {
    h5 {
      font-size: 16px;
    }
  }
}