// Place all the styles related to the TimeclockRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vcms-timeclock_records {

  .flag-record-form {
    padding: 15px;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
    .form-instructions {
      font-size: 85%;
      font-style: italic;
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
      border-bottom: 1px solid #dddddd;
      padding: 15px;
      margin: 0 -15px 15px -15px;
    }

  }
  .lead span {
    font-weight: bold;
  }
  .card {
    margin-bottom: 20px;
    .card-header {
      padding-bottom: 0;
    }
  }

  // Styling for tablet or smaller
  @media (max-width:1025px) {
    h5 {
      font-size: 16px;
    }
  }
}