<% provide(:title, 'Edit Folder') %>
<div class="row">

  <div class="col-12">

    <div class="well well-sm"><strong>Documents &ndash; Edit Folder</strong></div>

  </div>

  <div class="col-12 col-sm-6 col-md-4 offset-sm-3 offset-md-4"><%= render 'form' %></div>

</div>