<% provide(:title, 'Edit Folder') %>
<div class="row mx-1">

  <div class="col-12 card bg-light mb-3">

    <strong>Documents &ndash; Edit Folder</strong>

  </div>

  <div class="col-sm-3 col-md-4"></div>
  <div class="col-12 col-sm-6 col-md-4"><%= render 'form' %></div>

</div>